@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" class="text-bg-light p-3">
    <h1>PROYECTO FINAL</h1>
    <p></p>
    <h2>Taller de Lenguajes II</h2>
    <p></p>
    <h2>Carro, Joaquin Manuel Enrique</h2>
</div>
